/* ------------------ */
/* APP CONTAINER & GENERAL*/
/* ------------------ */
.App {
  width: 100%;
  min-width: 350px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  /* text-decoration: none; */
  color: #000;
}

/* ------------------ */
/* HEADER */
/* ------------------ */
header {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 1rem;
}

/* ------------------ */
/* MAIN */
/* ------------------ */
main {
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.job {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-width: 10px;
  border-style: solid;
  margin: 1rem;
  padding: 1rem;
}

.red {
  border-color: #e30413;
}
.green {
  border-color: #3ea535;
}
.yellow {
  border-color: #ffee00;
}
.blue {
  border-color: #039fe3;
}
.pink {
  border-color: #f8c5af;
}

/* ------------------ */
/* FOOTER */
/* ------------------ */

footer {
  background-color: #dddddd;
  padding: 1rem;
  text-align: center;
  font-size: 18px;
}

.bold {
  font-weight: 700;
}

footer a:hover {
  display: inline-block;
  transform: scale(1.05);
}
